<p>
  Servers works!
</p>
<p> *** Query Param Example ***</p>
<hr>
<hr>

<div *ngIf="queryParam" class="container">
  <h3>Server Id: {{serverId}}</h3>
  <h3>Request Type: {{queryParam}}</h3>
  <h3>Fragment: {{fragment}}</h3>
</div>
<hr>

<p> *** To reload a component from its own ***</p>
<a [routerLink]="['/servers/1']" [queryParams]="{requestType: 'view'}" [fragment]="'share'">Server 1</a> |
<a [routerLink]="['/servers/2']" [queryParams]="{requestType: 'view'}" [fragment]="'share'">Server 2</a> |